html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

canvas {
  background: #f0f0f0;
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
